<div class="container-fluid align-content-center">
             <h1>Usuários</h1>
        <div class="table-responsive">
            <table class="table">
                <tr>
                   <!--<th class="col-md-4 text-white text-center">ID</th>--> 
                    <th class="col  text-center">USERNAME</th>
                    <th class="col text-center">NOME</th>
                    <th class="col text-center">EDITAR</th>
                    <th class="col text-center">DELETAR</th>
                </tr>
                <tbody class="table-group-divider">
                <tr class="" *ngFor="let registro of registros | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                    <!--<td class="text-center">{{ registro.ID }}</td>-->
                    <td class="text-center">{{ registro.USERNAME }}</td>
                    <td class="text-center">{{ registro.NOME }}</td>
                    <td class="text-center">              
                                <button class="edit-button" >
                                    <i class="fas fa-edit"></i>
                                </button>
                    </td>            
                    <td class="text-center">            
                                <button class="delete-button" (click)="deleteRegistro(registro.ID, registro.NOME)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                    </td>
                </tr>
             </tbody>
            </table>
            <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                <button type="button" class="btn-close " data-bs-dismiss="offcanvas" aria-label="Close"></button>
                <div class="offcanvas-body">
                    <div class="container">
                        <app-cadastrousuario></app-cadastrousuario>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <button class="new-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Novo Usuário</button>
            </div>
            <div class="col-md-6">
                <pagination-controls class="ngx-pagination d-flex justify-content-end" nextText="Próximo" previousLabel="Anterior" (pageChange)="currentPage = $event"></pagination-controls>
            </div>
        </div>
        
        
</div>

