<main>
  <div class="container">
  <div class="row">
    <div class="sidebar" >
      <div class="col">
          <div class="row" id="photouser">
            <div class="col-md-6 mt-3">
              <app-editarusuario></app-editarusuario>
            </div>
          <div class="dropdown col-md-6">
              <ul class="nav nav-pills flex-column mb-auto">
                  <li class="">
                        <div class="saudacao">
                          <span class="ola me-1">Olá,</span>
                          <span class="nome-usuario ">{{ nomeUsuario }}</span>
                        </div>
                        <div class="sidebar-footer mt-3">
                          <a >
                            <i class="fa fa-bell"></i>
                            <span class="badge badge-pill badge-warning notification me-2">3</span>
                          </a>
                          <a >
                            <i class="fa fa-cog "></i>
                            <span class="badge-sonar me-2"></span>
                          </a>
                          <a (click)="logout()" type="button">
                            <i class="fa-solid fa-right-to-bracket"></i>
                          </a>
                        </div>
                  </li>
              </ul> 
            </div>
          </div>  
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
              <a>
                <i class="fa fa-chart-line me-2"></i>
              </a>
                Dashboards
              </button>
              <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a (click)="navigateTo('dashboardgeral')" class="link rounded text-white" type="submit">Geral</a></li>
                  <li><a (click)="navigateTo('dashboardsemanal')" class="link rounded text-white" type="submit">Semanal</a></li>
                  <li><a (click)="navigateTo('dashboardmensal')" class="link rounded text-white" type="submit">Mensal</a></li>
                  <li><a (click)="navigateTo('dashboardanual')" class="link rounded text-white" type="submit">Anual</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                <a>
                  <i class="fa-solid fa-file-circle-check me-2"></i>
                </a>
                Cadastros
              </button>
              <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link rounded text-white">Produtos</a></li>
                  <li><a href="#" class="link rounded text-white">Fornecedores</a></li>
                  <li><a (click)="navigateTo('tabelaclientes')" class="link rounded text-white" type="submit">Clientes</a></li>
                  <li><a href="#" class="link rounded text-white">Contas a Pagar</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#products-collapse" aria-expanded="false">
                <a>
                  <i class="fa-solid fa-boxes-stacked me-2"></i>
                </a>
                Estoque
              </button>
              <div class="collapse" id="products-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link rounded text-white">Movimentação</a></li>
                  <li><a href="#" class="link rounded text-white">Produtos</a></li>
                  <li><a href="#" class="link rounded text-white">Deposito</a></li>
                  <li><a href="#" class="link rounded text-white">Unidade de Medida</a></li>
                </ul>
              </div>
            </li>
      
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#users-collapse" aria-expanded="false">
                <a>
                  <i class="fa-solid fa-circle-user me-2"></i>
                </a>
                Usuários
              </button>
              <div class="collapse" id="users-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a (click)="navigateTo('tabelausuarios')" class="link rounded text-white" type="submit">Resumo</a></li>
                </ul>
              </div>
            </li>
          </ul>
          
          <hr>
          
        </div>    
        
      

      <div class="col-lg-9 content">
        <router-outlet></router-outlet>
      </div>
      </div>
    </div>
  </div>
  <div class="b-example-divider"></div>
</main>
      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
      <script src="sidebars.js"></script>


