<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head> 
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets\logo\Barsoft\nome-transparente 300x300.png" style="height:70px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span>
            <img src="assets\logo\Barsoft\favicon_transparent_32x32.png" alt="Barsoft">
        </span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Barsoft</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img  class="nav-icon" src="assets\icones sistema\analise-de-dados.png">
                    Resumo
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" >Resumo Diário</a></li>
                  <li><a class="dropdown-item" >Resumo Semanal</a></li>
                  <li><a class="dropdown-item" >Resumo Mensal</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item">Resumo Geral</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img  class="nav-icon" src="assets\icones sistema\mais.png">
                    Cadastros
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" >Usuários</a></li>
                  <li><a class="dropdown-item" >Fornecedores</a></li>
                  <li><a class="dropdown-item" >Produtos</a></li>
                  <li><a class="dropdown-item" >Plano de Contas</a></li>
                  <li><a class="dropdown-item" >Depósitos</a></li>
                  <li><a class="dropdown-item" >PDV</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Notas Fiscais</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img  class="nav-icon" src="assets\icones sistema\configuracoes.png">
                    Configurações
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" >Sistema</a></li>
                  <li><a class="dropdown-item" >Estoque</a></li>
                  <li><a class="dropdown-item" >PDV</a></li>
                  <li><a class="dropdown-item" >Seguranças</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item">Integrações</a></li>
                </ul>
              </li>
          </ul>
        </div>
      </div>
      <a href="https://api.whatsapp.com/send?phone=5534998833438" class="whatsapp-button" target="_blank">
        <i class="fab fa-whatsapp" aria-hidden="true"></i>
      </a>
    </div>
  </nav>
 


